body {
    background-color: #fff6e7;
    color:#1b1e1e;
    text-align: center;
}

#alinhar {
    margin-top:4%;
    margin-left: 15%;
    max-height: 80vh;
    overflow-y: auto;
}

#container {
    background-color: #ffedd9;
    color:#1b1e1e;
    width: 220px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.capas {
    height: 200px; 
    width: 200px; 
    border-radius: 8px;
    margin-top: 10px;
    object-fit: cover;
}

.titulo {
    text-align: left;
}

.music {
    height: 50px; 
    width: 50px; 
    border-radius: 2px;
    margin:10px;
}

.divMusic {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 15px;
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

#cont2 {
    display: flex;
    justify-content: center;
}

.botao {
    background-color:#ffe9ca;
    border-radius: 15px;
    width: fit-content;
    padding: 20px;
    margin: 15px;
    text-align: center;
    align-self: center;
}