body {
    background-color: #fff6e7;
    color:#1b1e1e;
    text-align: center;
}

.generos {
    display: flex;
     justify-content: center; 
}

.cards {
    background-color: #9b1d1fa4;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 100px;
    border-radius: 10px;
}

#botao {
    padding: 30px 60px;
    background: #9b1d20;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
}