body {
    /* background-color: #f9b4ab;     rosinha  */
    /* background-color: #c2c1ba25;   cinzinha */ 
    /* background-color: #1b1e1e;      Tema
    color: #fff6e7;                     Escuro   */

    background-color: #fff6e7;
    color:#1b1e1e;
    text-align: center;
}

.container {
    background-color: #ffedd9;
    color:#1b1e1e;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

/* #container {
    background-color: #111313;
    color:#fff6e7;

} */

#album1 {
    margin: 25px;
    margin-top: 20px;
    margin-left: 0px;
    border-radius: 10px;
}

.album {

    margin: 25px;
    margin-top: 20px;
    border-radius: 10px;
}

.capas {
    height: 120px; 
    width: 120px; 
    border-radius: 8px;
}

/* .album {
    background-color: #1b1e1e;
    color:#fff6e7;

} */

.espaco {
    margin-left: 15px;
}

#infos {
    text-align: left;
}

